.weather {
  &-search {
    &-form {
      &-input {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        &::placeholder {
          text-align: center;
        }
        &::before {
          border-bottom: #fff 1px solid;
        }
      }
    }
  }
  &-top-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0 90px 0;
    &-city {
      font-size: 40px;
      color: #fff;
      font-weight: bold;
    }
    &-temp {
      color: #fff;
      font-size: 55px;
    }
    &-description {
      color: #fff;
      font-size: 22px;
    }
    &-lowMax {
      display: flex;
      gap: 20px;
      margin-top: 10px;
      &-highestTemp,
      &-lowestTemp {
        color: #fff;
      }
    }
  }

  &-mid-area {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 25px 0 127px 0;
    &-pressure,
    &-feelsLike,
    &-humidity,
    &-wind {
      color: #fff;
      padding: 10px 20px;
      height: 130px;
      width: 130px;
      background: rgba(255, 255, 255, 0.16);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(12.5px);
      &-text {
        p {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
        }
      }
    }
  }
}
