.container {
  height: 100%;
}

.weather {
  &-search {
    &-form {
      &-input {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &-top-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 114px;
    &-city {
      font-size: 40px;
      color: #fff;
      font-weight: bold;
    }
    &-temp {
      color: #fff;
      font-size: 55px;
    }
    &-description {
      color: #fff;
      font-size: 22px;
    }
  }
}
