.weather {
  padding-bottom: 31.9vh;
  &-search {
    padding-top: 3vh;
    &-form {
      margin: 0 4vw;
      &-input {
        background: white;
        border: none;
        outline: none;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5vh 1vw;
        text-align: center;
        border-radius: 4px 0 0 4px;
        &::placeholder {
          text-align: center;
          opacity: 0.3;
        }
        &::before {
          border-bottom: #fff 1px solid;
          font-family: "Open Sans", sans-serif;
        }
      }
    }
  }
  &-top-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4vh 0 9vh 0;
    &-city {
      font-size: 40px;
      color: #fff;
      font-weight: bold;
    }
    &-temp {
      color: #fff;
      font-size: 55px;
    }
    &-description {
      color: #fff;
      font-size: 22px;
    }
    &-lowMax {
      display: flex;
      gap: 2vw;
      margin-top: 1vw;
      &-highestTemp,
      &-lowestTemp {
        color: #fff;
      }
    }
  }

  &-mid-area {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2.5vh 0 11.7vh 0;
    &-pressure,
    &-feelsLike,
    &-humidity,
    &-wind {
      color: #fff;
      padding: 10px 20px;
      height: 130px;
      width: 130px;
      background: rgba(255, 255, 255, 0.16);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(12.5px);
      &-text {
        p {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 3vh;
        }
      }
    }
  }
}

.fa-magnifying-glass {
  position: absolute;
  top: 3vh;
  right: 3vw;
  color: white;
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  padding: 0.62vh;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
