@media screen and (min-width: 768px) {
  .weather {
    padding-bottom: 31.9vh;
    &-search {
      &-form {
        &-input {
          width: 100%;
        }
      }
      .loupe {
        right: 45vw;
      }
    }
  }
}
